{% extends 'base.html' %}
{% load static %}
{% block title %}Zmień Hasło{% endblock %}

{% block header %}
    <header>{% include 'header-menu.html' %}</header>
{% endblock %}

{% block container %}

    {% if message %}
        <h2 style="color: red">{{ message }}</h2>
    {% elif success %}
        <h2 style="color: greenyellow">{{ success }}</h2>
    {% else %}
        <h2>Zmień hasło</h2>
    {% endif %}

    <form action="{% url 'change-password' %}" method="post">
        {% csrf_token %}
        <ul style="list-style-type: none">
            <li><label>Stare hasło:</label>
            <input type="password" name="old_password"/></li>

            <li><label>Nowe hasło:</label>
            <input type="password" name="new_password"/></li>

            <li><label>Powtórz nowe hasło:</label>
            <input type="password" name="re_new_password"/></li>
            <input type="submit" value="Zmień hasło"/>
        </ul>
    </form>

{% endblock %}