{% extends 'base.html' %}
{% load static %}
{% block title %}Profil użytkownika{% endblock %}
{% include 'header-menu.html' %}

{% block header %}
    <header>
        {% include 'header-menu.html' %}
    </header>
{% endblock %}

{% block container %}

    <div class="container">
        <div>
            <div class="slogan--item" style="align-items: center">
                <h2>Imię:<br>{{ request.user.first_name }}</h2>
                <h2>Nazwisko:<br>{{ request.user.last_name }}</h2>
                <h2>Email:<br>{{ request.user.email }}</h2>
            </div>
        </div>
        <h2>Przekazane dary:
            <br><br>
            <div class="donation--table">
            <table>
                <tr>
                    <td>Organizacja</td>
                    <td>|</td>
                    <td>Ilość worków</td>
                    <td>|</td>
                    <td>Data oddania/odbioru</td>
                    <td>|</td>
                    <td>Godzina</td>
                </tr>
                <tr></tr>
                <tr></tr>
                {% for donation in donations %}
                    <tr class="donation--table--header">
                        <td>{{donation.institution.name}}</td>
                        <td></td>
                        <td>{{donation.quantity}}</td>
                        <td></td>
                        <td>{{donation.pick_up_date}}</td>
                        <td></td>
                        <td>{{donation.pick_up_time}}</td>
                    </tr>
                    <tr></tr>
                {% endfor %}
            </table>
            </div>
        </h2>
    </div>

{% endblock %}